/*OUR STORY*/

.our-story {
  width: 360px;
  margin: auto;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = 360px + 0px + 0px + margin: auto, so (7.5px + 7.5px) 
  */
}

.our-story__title {
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.our-story__line {
  width: 40%;
  margin: 0rem auto 0rem auto;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  color: var(--red-color);
}

.our-story__description {
  color: var(--light-white-color);
  background-color: var(--red-color);
  padding: 0.7rem;
  font-size: 14px;
  line-height: 1.3rem;

  margin-bottom: 1rem;
}

.our-story__description--rounded-corners-version-1 {
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
}

.our-story__description--rounded-corners-version-2 {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 1rem;
}

.our-story__logo-container {
  text-align: center;
}

.our-story__logo {
  width: 110px;
}

/*MEET OUR TEAM*/
.meet-our-team__title {
  text-align: center;
  margin: 1rem 0rem 0.5rem 0rem;
}

.meet-our-team__title--large-size {
  font-size: 30px;
}

.meet-our-team__description {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.meet-our-team-red-color {
  color: var(--red-color);
}