:root {
  --blue-color: rgb(0,40,104);
  --red-color: rgb(255,63,63);
  --light-black-color: rgb(43,43,43);
  --black-color: rgb(0,0,0);
  --light-white-color: rgb(250,250,250);
  --light-gray-color: rgb(213,213,213);
  --gray-color: rgb(170,170,170);

  --facebook-color: rgb(64,100,173);
  --linkedin-color: rgb(1,118,181);
  --instagram-color: rgb(247,83,84);
  --twitter-color: rgb(30,155,240);

  --primary-font: 'Montserrat', sans-serif;

  
}

* {
  box-sizing: content-box;
  margin: 0rem;
  font-family: var(--primary-font);
}

.nav-bar {
  width: auto;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = width: auto, so (327px) + (24px + 24px) + 0px + 0px
  */

  /*flexbox*/
  display: flex;
  flex-direction: row; 
  justify-content: space-between;

  /*border-bottom*/
  border-bottom-style: solid;
  border-color: var(--blue-color);
  border-width: 0.3rem;

  /*color*/
  color: var(--light-white-color);
}

.nav-bar__left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__org-name {
  font-weight: 400;
  color: var(--blue-color);
}

.nav-bar__org-logo {
  width: 2.5rem;
}

.nav-bar__right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__hamburger-menu-button {
  background-color: var(--white-color);
  padding: 0px;
  border: none;
}
.nav-bar__hamburger-menu-icon {
  color: var(--black-color);
}

menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0px;

  background-color: var(--blue-color);

  /*
  Before the .nav-bar__hamburger-menu-button clicked, left: -100%. Hence, menu not shown on the screen.
  After the .nav-bar__hamburger-menu-button clicked, left: 0%. Hence, menu shown on the screen.
  */
  left: -100%; 
}


.menu-container {
  width: auto;
}

.menu-container__x-mark-button {
  position: absolute;
  top: 10px;
  right: 20px;
}
.menu-container__main-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8rem;

}
.menu-container__links-container {
  display: flex;
  flex-direction: column;
}

.menu-container--margin-right {
  margin-right: 0.5rem;
}
.menu-container__link {
  color: var(--light-white-color);
  text-decoration: none;
  margin-bottom: 2rem;
}

.menu-container__link:hover {
  color: var(--red-color);
}

.menu-container__social-media-container {
  margin-top: 1rem;
}

.menu-container__facebook-icon {
  color: var(--facebook-color);
}

.menu-container__linkedin-icon {
  color: var(--linkedin-color);
}

.menu-container__instagram-icon{
  color: var(--instagram-color);
}

.menu-container__twitter-icon {
  color: var(--twitter-color);
}
 



