

.nav-bar {
  width: auto;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  /*
  Parent Div's Width = Child Div's Width + Padding + Border + Margin
  375px = width: auto, so (327px) + (24px + 24px) + 0px + 0px
  */

  /*flexbox*/
  display: flex;
  flex-direction: row; 
  justify-content: space-between;

  /*border-bottom*/
  border-bottom-style: solid;
  border-color: var(--blue-color);
  border-width: 0.3rem;

  /*color*/
  color: var(--light-white-color);
}

.nav-bar__left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__org-name {
  font-size: 2rem;
  font-weight: 400;
  color: var(--blue-color);
}

.nav-bar__org-logo {
  width: 3.2rem;
}

.nav-bar__right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__hamburger-menu-button {
  background-color: var(--white-color);
  padding: 0px;
  border: none;
}
.nav-bar__hamburger-menu-icon {
  color: var(--black-color);
}

.nav-bar__link {
  display: none;
}

/*<menu>*/
menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0px;

  background-color: var(--blue-color);

  /*
  Before the .nav-bar__hamburger-menu-button clicked, left: -100%. Hence, menu not shown on the screen.
  After the .nav-bar__hamburger-menu-button clicked, left: 0%. Hence, menu shown on the screen.
  */
  left: -100%; 

  z-index: 80;
}


.menu-container__x-mark-button {
  position: absolute;
  top: 10px;
  right: 20px;
}


.menu-container__main-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8rem;
}

.menu-container__links-container {
  display: flex;
  flex-direction: column;
}

.menu-container__link {
  color: var(--light-white-color);
  text-decoration: none;
  margin-bottom: 2rem;
}

.menu-container__link:hover {
  color: var(--red-color);
}

.menu-container--margin-right {
  margin-right: 0.5rem;
}

.menu-container__social-media-container {
  margin-top: 1rem;
}

.menu-container__facebook-icon {
  color: var(--facebook-color);
}

.menu-container__linkedin-icon {
  color: var(--linkedin-color);
}

.menu-container__instagram-icon{
  color: var(--instagram-color);
}

.menu-container__twitter-icon {
  color: var(--twitter-color);
}

@media screen and (min-width: 768px) {
  .nav-bar__hamburger-menu-button {
    display: none;
  }

  .nav-bar__link {
    display: inline-block;
    text-decoration: none;
    color: black;

    font-size: 1.3rem;
  }

  .nav-bar__link:hover {
    color: var(--red-color);
  }

  .nav-bar__link--margin-right {
    margin-right: 1.5rem;
  }




}
 



