:root {
  --blue-color: rgb(0,40,104);
  --red-color: rgb(255,63,63);
  --light-black-color: rgb(43,43,43);
  --black-color: rgb(0,0,0);
  --light-white-color: rgb(250,250,250);
  --light-gray-color: rgb(213,213,213);
  --gray-color: rgb(170,170,170);

  --facebook-color: rgb(64,100,173);
  --linkedin-color: rgb(1,118,181);
  --instagram-color: rgb(247,83,84);
  --twitter-color: rgb(30,155,240);

  --primary-font: 'Montserrat', sans-serif;
}

* {
  box-sizing: content-box;
  margin: 0rem;
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
}